
@media (min-width:900px)
{
  .head{max-width:1300px;
  background-color:#FFFFFF;
  margin: 40px auto 0 auto;
  line-height:1.65;
  padding: 50px 100px;
  display: flex;}

h1 {font-style: oblique;
    font: fantasy;
    font-size: 56pt;
    text-align: center;
    }

h2 {font: fantasy;
    font-size: 25pt;
    color: 	#888888;
    text-align: center;
    text-align: justify;
    font-weight: lighter;}

p {text-align: left;
       font-size: 16px;}

h4 {color:#A9A9A9;
       font-style: italic;
        font-weight: lighter;}

h5 { font-size: 18pt;
     font-variant: small-caps;}
h6 { font-size: 12pt;
     font-weight: 400;}

.lead {text-align: center;
       max-width: 1000px;
       margin: auto;
       padding: 40px;
       padding-left: 100px;
       padding-right: 100px;
}

.byline {display: flex;
           justify-content: space-between;
            flex-direction: row;
          padding-top: 20px;
           padding-bottom: 20px;}
      .picture {flex:1;
        padding-top: 20px;
         padding-bottom: 20px;}
      .me {flex:3}
      .twitter {flex:1;
        padding-top: 20px;
         padding-bottom: 20px;}

.text {text-align: center;
max-width: 1000px;
margin: auto;
padding: 40px;
padding-left: 100px;
padding-right: 100px;}

}
  @media (min-width:900px)
  {
  .schedules {display: flex;
             justify-content: space-between;
              flex-direction: row;}
}
  .first{
          flex:1;
          display: flex;
          flex-direction: column;
          padding: 20px;}

  .first-a{background-color: #ff6666;
            flex: 1;
          padding: 10px;
         display: flex;}


  .first-b{background-color: #ffbd55;
            flex:1;
          padding: 10px;
          display: flex;}

 .a {flex:1;
     text-align: center;
      padding: 30px 0;}
 .b {flex:4;
    text-align: left;}

  .first-c{background-color: #ffff66;
                      flex: 1;
                    padding: 10px;
                    display: flex;}



  .first-d{background-color: #9de24f;
                      flex:1;
                    padding: 10px;
                    display: flex;}



  .first-e{background-color: #87cefa;
                    flex:1;
                  padding: 10px;
                  display: flex;}


.second{flex:1;
        padding:20px;}
